body{
    background-color: rgb(30, 30, 30);
}
body::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}
h1, .intro{
    color: white;
    text-align: center;
    margin-bottom: 10px;
}
.text{
    padding-bottom: 50px;
    z-index: 2;
}
.container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: -65px;
}
.box{
    width: 400px;
    height: 490px;
    background-color:rgb(101, 106, 135);
    border-radius: 10px;
    position: absolute;
    display: flex;
    justify-content: center;
    border: 2px solid black;
}
.outline{
    width: 400px;
    height: 490px;
    margin: 0 auto;
    box-shadow: 0 0 70px 10px rgb(141, 146, 171);
    border-radius: 10px;
    margin-top: 75px;
}
.spin-button{
    border-radius: 5px;
    width: 250px;
    height: 30px; 
    position: absolute;
    bottom: 20px;
    border: 2px solid black;
    text-align: center;
    background-color: white;
    padding-top: 5px;
    font-size: 25px;
    font-family: 'Arial Narrow Bold', sans-serif;
    cursor: pointer;
}
.container .circle{
    width: 350px;
    height: 350px;
    top: 30px;
    border-radius: 50%;
    background-color: black;
    position: absolute;
    overflow: hidden;
    border: 3px solid black;
    transition: transform 5s ease-in-out;
}
.container .circle .section{
    position: absolute;
    width: 50%;
    height: 50%;
    transform-origin: bottom right;
    background: var(--clr);
    transform: rotate(calc(45deg * var(--i)));
    clip-path: polygon(0 0, 56% 0, 100% 100%, 0 56%);
    display: flex;
    justify-content: center;
    align-items: center;
}
.container .circle .section span{
    position: relative;
    transform: rotate(45deg);
    color: white;
    font-size: 20px;
}
.pointer{
    width: 0;
    height: 365px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 45px solid black;
    z-index: 2;
}
